<!DOCTYPE html>

{% load static %}
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to css -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!--  Box Icone -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Responsive Blog Website </title>

</head>

<body>

    <!-- Header -->
    <header>
        <!-- Nav -->
        <div class="nav container">
            <!-- Logo -->
            <a href="#" class="logo">Blog<span>Tech</span></a>
            <!-- Login Btn -->
            <!-- <a href="#" class="login"> Login </a> -->
            <ul>
                <li> <a href="#"> A propos </a></li>
                <li> <a href="#"> Contact </a></li>
            </ul>
        </div>
    </header>


    {% block content %}
    
    {% endblock content %}


    <!-- Footer -->
    <div class="footer container">
        <p>&#169; Carpoolvenom All Right Reseved</p>
        <div class="social">
            <a href="http://www.facebook.com/" target="_blank"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div>
    </div>

    <!-- JQuery Link -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>