{% extends 'base.html' %}
{% load static %}

    {% block content %}
    <!-- Post Content -->
    <section class="post-header">
        <div class="header-content post-container">
            <!-- Back To Home -->
            <a href="index.html" class="back-home">Back To Home</a>
            <!-- Tilte -->
            <h1 class="header-title">How To Create UX Designe With Abobe XD</h1>
            <!-- Post Image -->
            <img src="{% static 'images/post-1.jpg' %}" alt="" class="header-img">
        </div>
    </section>

<!-- Post -->
    <section class="post-content post-container">
        <h2 class="sub-heading">Create Best UX Design</h2>
        <p class="post-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel omnis quidem quasi libero ipsam voluptates sunt sed, ducimus rem, architecto tenetur, magni aliquid aspernatur excepturi accusamus totam reprehenderit? Deleniti deserunt temporibus pariatur ea nihil labore, voluptas provident aliquam numquam? Esse, velit at! Accusantium, magni ea.</p>
        <p class="post-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel omnis quidem quasi libero ipsam voluptates sunt sed, ducimus rem, architecto tenetur, magni aliquid aspernatur excepturi accusamus totam reprehenderit? Deleniti deserunt temporibus pariatur ea nihil labore, voluptas provident aliquam numquam? Esse, velit at! Accusantium, magni ea.</p>
        <h2 class="sub-heading">Create Best UX Design</h2>
        <p class="post-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel omnis quidem quasi libero ipsam voluptates sunt sed, ducimus rem, architecto tenetur, magni aliquid aspernatur excepturi accusamus totam reprehenderit? Deleniti deserunt temporibus pariatur ea nihil labore, voluptas provident aliquam numquam? Esse, velit at! Accusantium, magni ea.</p>
        <p class="post-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel omnis quidem quasi libero ipsam voluptates sunt sed, ducimus rem, architecto tenetur, magni aliquid aspernatur excepturi accusamus totam reprehenderit? Deleniti deserunt temporibus pariatur ea nihil labore, voluptas provident aliquam numquam? Esse, velit at! Accusantium, magni ea.</p>
        <p class="post-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel omnis quidem quasi libero ipsam voluptates sunt sed, ducimus rem, architecto tenetur, magni aliquid aspernatur excepturi accusamus totam reprehenderit? Deleniti deserunt temporibus pariatur ea nihil labore, voluptas provident aliquam numquam? Esse, velit at! Accusantium, magni ea.</p>
    </section>

<!-- Share -->
    <div class="share post-container">
        <span class="share-title">Share This Article</span>
        <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-linkedin' ></i></a>
        </div>
    </div>
    {% endblock content %}