{% extends 'base.html' %}
{% load static %}

    {% block content %}
    {% for post in posts %}
    <!-- Post Content -->
    <section class="post-header">
        <div class="header-content post-container">
            <!-- Back To Home -->
            <a href="index.html" class="back-home">Back To Home</a>
            <br>
            <!-- Tilte -->
            <h1 class="header-title"> {{ post.title }} </h1>
            <br>
            <!-- Post Image -->
            <img src="{% static 'images/post-1.jpg' %}" alt="" class="header-img">
        </div>
    </section>

<!-- Post -->
    <section class="post-content post-container">
        <!-- <h2 class="sub-heading">{{ post.title }}</h2> -->
        <p class="post-text">{{ post.content|safe }}</p>
    </section>
    {% endfor %}

<!-- Share -->
    <div class="share post-container">
        <span class="share-title">Share This Article</span>
        <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-linkedin' ></i></a>
        </div>
    </div>
    {% endblock content %}