<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to css -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!--  Box Icone -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <title>Responsive Blog Website </title>
</head>

<body>

    {% block content %}
    <!-- Home -->
    <section class="home" id="home">
        <div class="home-text container">
            <h2 class="home-title">The Venom Blog</h2>
            <span class="home-subtitle">Your source of great content</span>
        </div>
    </section>

    <!-- Post Filter -->
    <div class="post-filter container">
        <span class="filter-item active-filter" data-filter="all">All</span>
        <span class="filter-item" data-filter="design">Design</span>
        <span class="filter-item" data-filter="tech">Tech</span>
        <span class="filter-item" data-filter="mobile">Mobile</span>
    </div>

    <!-- Post -->
    <section class="post container">
        <!-- Post Box 1 -->
        <div class="post-box mobile">
            <img src="{% static 'img/post-1.jpg' %}" alt="" class="post-img">
            <h2 class="category">Design</h2>
            <a href="{% url 'detail.html' %}" class="post-title">
                How To Create UX Designe With Abobe XD
            </a>
            <span class="post-date"> 12 Feb 2022 </span>
            <p class="post-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil consequuntur
                cumque quisquam esse quidem cupiditate repellendus eveniet! Placeat veritatis reiciendis aut,
                repudiandae tenetur doloribus itaque.</p>
            <!-- Profile -->
            <div class="profile">
                <img src="{% static 'img/profile-1.jpg' %}" alt="" class="profile-img">
                <span class="profile-name">Marques Borwn</span>
            </div>
        </div>

        <!-- Post Box 2 -->
        <div class="post-box mobile">
            <img src="{% static 'img/post-2.jpg' %}" alt="" class="post-img">
            <h2 class="category">Tech</h2>
            <a href="{% url 'detail.html' %}" class="post-title">
                How To Create UX Designe With Abobe XD
            </a>
            <span class="post-date"> 12 Feb 2022 </span>
            <p class="post-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil consequuntur
                cumque quisquam esse quidem cupiditate repellendus eveniet! Placeat veritatis reiciendis aut,
                repudiandae tenetur doloribus itaque.</p>
            <!-- Profile -->
            <div class="profile">
                <img src="{% static 'img/profile-2.jpg' %}" alt="" class="profile-img">
                <span class="profile-name">Marques Borwn</span>
            </div>
        </div>

        <!-- Post Box 3 -->
        <div class="post-box mobile">
            <img src="{% static 'img/post-3.jpg' %}" alt="" class="post-img">
            <h2 class="category">Mobile</h2>
            <a href="{% url 'detail.html' %}" class="post-title">
                How To Create UX Designe With Abobe XD
            </a>
            <span class="post-date"> 12 Feb 2022 </span>
            <p class="post-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil consequuntur
                cumque quisquam esse quidem cupiditate repellendus eveniet! Placeat veritatis reiciendis aut,
                repudiandae tenetur doloribus itaque.</p>
            <!-- Profile -->
            <div class="profile">
                <img src="{% static 'img/profile-3.jpg' %}" alt="" class="profile-img">
                <span class="profile-name">Marques Borwn</span>
            </div>
        </div>

        <!-- Post Box 4 -->
        <div class="post-box design">
            <img src="{% static 'img/post-4.jpg' %}" alt="" class="post-img">
            <h2 class="category">Design</h2>
            <a href="{% url 'detail.html' %}" class="post-title">
                How To Create UX Designe With Abobe XD
            </a>
            <span class="post-date"> 12 Feb 2022 </span>
            <p class="post-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil consequuntur
                cumque quisquam esse quidem cupiditate repellendus eveniet! Placeat veritatis reiciendis aut,
                repudiandae tenetur doloribus itaque.</p>
            <!-- Profile -->
            <div class="profile">
                <img src="{% static 'img/profile-1.jpg' %}" alt="" class="profile-img">
                <span class="profile-name">Marques Borwn</span>
            </div>
        </div>

        <!-- Post Box 5 -->
        <div class="post-box tech">
            <img src="{% static 'img/post-5.jpg' %}" alt="" class="post-img">
            <h2 class="category">Tech</h2>
            <a href="{% url 'detail.html' %}" class="post-title">
                How To Create UX Designe With Abobe XD
            </a>
            <span class="post-date"> 12 Feb 2022 </span>
            <p class="post-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil consequuntur
                cumque quisquam esse quidem cupiditate repellendus eveniet! Placeat veritatis reiciendis aut,
                repudiandae tenetur doloribus itaque.</p>
            <!-- Profile -->
            <div class="profile">
                <img src="{% static 'img/profile-2.jpg' %}" alt="" class="profile-img">
                <span class="profile-name">Marques Borwn</span>
            </div>
        </div>

        <!-- Post Box 6 -->
        <div class="post-box mobile">
            <img src="{% static 'img/post-6.jpg' %}" alt="" class="post-img">
            <h2 class="category">Mobile</h2>
            <a href="{% url 'detail.html' %}" class="post-title">
                How To Create UX Designe With Abobe XD
            </a>
            <span class="post-date"> 12 Feb 2022 </span>
            <p class="post-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil consequuntur
                cumque quisquam esse quidem cupiditate repellendus eveniet! Placeat veritatis reiciendis aut,
                repudiandae tenetur doloribus itaque.</p>
            <!-- Profile -->
            <div class="profile">
                <img src="{% static 'img/profile-3.jpg' %}" alt="" class="profile-img">
                <span class="profile-name">Marques Borwn</span>
            </div>
        </div>

        <!-- Post Box 7 -->
        <div class="post-box design">
            <img src="{% static 'img/post-7.jpg' %}" alt="" class="post-img">
            <h2 class="category">Design</h2>
            <a href="{% url 'detail.html' %}" class="post-title">
                How To Create UX Designe With Abobe XD
            </a>
            <span class="post-date"> 12 Feb 2022 </span>
            <p class="post-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil consequuntur
                cumque quisquam esse quidem cupiditate repellendus eveniet! Placeat veritatis reiciendis aut,
                repudiandae tenetur doloribus itaque.</p>
            <!-- Profile -->
            <div class="profile">
                <img src="{% static 'img/profile-1.jpg' %}" alt="" class="profile-img">
                <span class="profile-name">Marques Borwn</span>
            </div>
        </div>

        <!-- Post Box 8 -->
        <div class="post-box tech">
            <img src="{% static 'img/post-8.jpg' %}" alt="" class="post-img">
            <h2 class="category">Tech</h2>
            <a href="{% url 'detail.html' %}" class="post-title">
                How To Create UX Designe With Abobe XD
            </a>
            <span class="post-date"> 12 Feb 2022 </span>
            <p class="post-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil consequuntur
                cumque quisquam esse quidem cupiditate repellendus eveniet! Placeat veritatis reiciendis aut,
                repudiandae tenetur doloribus itaque.</p>
            <!-- Profile -->
            <div class="profile">
                <img src="{% static 'img/profile-2.jpg' %}" alt="" class="profile-img">
                <span class="profile-name">Marques Borwn</span>
            </div>
        </div>

        <!-- Post Box 9 -->
        <div class="post-box design">
            <img src="{% static 'img/post-9.jpg' %}" alt="" class="post-img">
            <h2 class="category">Mobile</h2>
            <a href="{% url 'detail.html' %}" class="post-title">
                How To Create UX Designe With Abobe XD
            </a>
            <span class="post-date"> 12 Feb 2022 </span>
            <p class="post-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil consequuntur
                cumque quisquam esse quidem cupiditate repellendus eveniet! Placeat veritatis reiciendis aut,
                repudiandae tenetur doloribus itaque.</p>
            <!-- Profile -->
            <div class="profile">
                <img src="{% static 'img/profile-3.jpg' %}" alt="" class="profile-img">
                <span class="profile-name">Marques Borwn</span>
            </div>
        </div>
    </section>

    {% endblock content %}


    <!-- JQuery Link -->
    <script src="{% static 'https://code.jquery.com/jquery-3.6.0.js' %}" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>